<%- include template_header.ejs %>

<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <!--<img class="masthead-avatar mb-5" src="img/avataaars.svg" alt="">-->

        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0">Neues Team in Home Office</h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fa fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/plattform/alle-kurse">Alle Kurse</a></li>
                <li class="breadcrumb-item active" aria-current="page">Neues Team in Home Office</li>
            </ol>
        </nav>
        <!-- Masthead Subheading -->
        <!--<p class="masthead-subheading font-weight-light mb-0">Angemeldet - Geschützer Bereich - Let´s go</p>-->

    </div>
</header>

<!-- About Section -->
<section class="page-section mb-0">
    <div class="container">

        <div class="row">
            <div class="col col-lg-7">
                <h2 class="text-uppercase">Lernziele</h2>
                <br>
                <p>
                    <ul>
                        <li>Arbeiten mit digitalen Tools</li>
                        <li>Eine Videokonferenz aufsetzen</li>
                        <li>Dateien mit anderen teilen</li>
                        <li>Verhaltensregeln bei der Nutzung von digitalen Tools</li>
                        <li>Entscheidungen gemeinsam treffen</li>
                        <li>Schaffen eines positiven online Team Ergebnisses</li>
                        <li>Dokumente gemeinsam bearbeiten</li>
                    </ul>
                </p>

                <h2 class="text-uppercase" style="margin-top: 3rem;">Szenario</h2>
                <br>
                <ul>
                    <li>Lenkungskreis findet in einer Woche statt</li>
                    <li>Ein Update zum aktuellen Kundenprojekt ist zu liefern</li>
                    <ul>
                        <li>Fünf Mitarbeiter:innen aus unterschiedlichen Fachbereichen müssen kurzfristig zusammenarbeiten</li>
                            <ul>
                                <li>Ein Dokument muss gemeinsam vorbereitet werden</li>
                                <li>Die Mitarbeiter:innen müssen sich abstimmen</li>
                                <li>Beinhaltende Perspektiven: kaufmännisch, technisch und Kunde</li>
                                <li>Entscheidungsvorlage ist zu erabeiten</li>
                                <li>Folien für Lenkungskreis sind zu erstellen</li>
                            </ul>
                    </ul>
                </ul>

                <h2 class="text-uppercase" style="margin-top: 3rem;">Hintergrundinformationen</h2>
                <br>
                <ul>
                    <li>Alle Mitarbeiter:innen kennen sich persönlich</li>
                    <li>Mitarbeiter:innen haben bisher im Büro gearbeitet</li>
                    <li>Erste Zusammenarbeit auf ein gemeinsames Ziel hin</li>
                    <li>Ab sofort gilt Home Office - Das Team muss sich digital organisieren</li>
                    <li>Geräte und Tools stehen zur Verfügung</li>
                    <li>Mitarbeiter:innen haben wenig Erfahrung mit Home Office</li>
                    <li>Home Office Regeln sind zu definieren</li>
                    <li>Regeln für digitale Zusammenarbeit sind zu definieren</li>
                    <li>Die Chefin ist erkrankt und kann daher nicht dabei sein</li>
                </ul>

                <h2 class="text-uppercase" style="margin-top: 3rem;">Spielregeln</h2>
                <br>
                <ul>
                    <li>Die Teilnehmer:innen müssen sich selber organisieren</li>
                </ul>

                <h2 class="text-uppercase" style="margin-top: 3rem;">Vorbereitung</h2>
                <br>
                <p>Alle Teilnehmer:innen erhalten ein individuelles Briefing bezogen auf ihre Rolle, Aufgabe und Position.</p>
                <p>Informationen zu den digitalen Tools werden eine Stunde vor Beginn der Herausforderung per E-Mail verteilt:</p>
                <ul>
                    <li>Anmeldedaten</li>
                    <li>Nutzungsanleitungen / How-To Guides</li>
                    <li>Installation notwendiger Geräte, zum Beispiel Headsets</li>
                </ul>
            </div>


            <div class="col col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-uppercase">Herausforderung angehen</h2>
                        <p><i class="fa fa-clock-o"></i> Nächste Herausforderung heute um 10:30 Uhr</p>
                        <a href="#" class="btn btn-primary" style="margin-right: 10px;">Alleine</a><a href="#" class="btn btn-primary">Als Team</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include template_footer.ejs %>
