<%- include template_header.ejs %>

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <!--<img class="masthead-avatar mb-5" src="img/avataaars.svg" alt="">-->

        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0">Fehler <%= error.status %>: <%= message %></h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fa fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light mb-0"><a href="/" class="btn btn-light">Zurück zur Startseite</a></p>

    </div>
</header>


<%- include template_footer.ejs %>

