<%- include template_header.ejs %>

<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <!--<img class="masthead-avatar mb-5" src="img/avataaars.svg" alt="">-->

        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0">World of Work</h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fa fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light mb-0">Wir machen euch Fit für virtuelle Teamarbeit</p>

    </div>
</header>

<!-- About Section -->
<section class="page-section mb-0" id="angebot">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase">Unser Angebot</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fa fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Lernen Sie hier im Team anhand von realen Alltagssituationen wirksam digital zusammenzuarbeiten. <br><br>
                    Gruppen Szenarien, die einen schnellen und schmerzlosen Start ermöglichen.<br><br>
                    Zeitaufwand je Einheit: von 10min bis 30min<br><br>
                    Insgesamt 5 Einheit à 30 minuten pro Herausforderung
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">Aktuelle Themen wie:<br><br>
                    Nutzung vom Home Office Tools und Teilnahme an Videokonferenz <br><br>
                    Dateien gemeinsam bearbeiten<br><br>
                    Wie geht man miteinander um<br><br>
                    Wie behalte ich als Führungskraft die Übersicht über die Aufgaben meines Teams
                </p>
            </div>
        </div>

        <!-- About Section Button -->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-primary" href="/registrieren">
                <i class="fa fa-user mr-2"></i>
                Jetzt registrieren
            </a>
        </div>

    </div>
</section>

<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="mehrwerte">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">Mehrwerte</h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fa fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">
                    Produktivität im Homeoffice aufrechterhalten und verbessern<br><br>
                    Kontakte mit Kunden und Kollegen:innen weiterhin nahtlos pflegen<br><br>
                    Effektive Führung von virtuellen Teams lernen und von Home Office aus führen
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">Ziele weiterhin gemeinsam erreichen<br><br>
                    Erfahrungsaustausch mit anderen Teams und Unternehmen “Wie meistern wir Homeoffice”<br><br>
                    Neue Tools spielerisch gemeinsam mit Kollegen:innen testen und lernen <i class="fa fa-arrow-right"></i> Gemeinsam sind wir stärker!</p>
            </div>
        </div>

    </div>
</section>

<!-- About Section -->
<section class="page-section mb-0" id="prozess">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase">Prozess Beschreibung</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fa fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Es beginnt mit einer kurzen Einführung, um das Szenario beginnen zu können (Rollen und Tools). <br><br>
                    Das Szenario entspricht einer Alltagssituation und enthält Aufgaben, die in 15-30 Minuten gelöst werden können. <br><br>
                    Herausforderungen sind sowohl auf der technischen Ebene als auch der Zusammenarbeitsebene zu lösen.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">
                    Im Anschluss an jedes Szenario gibt es eine moderierte Session zum Reflektieren des Erlebten und für den Lerntransfer.<br><br>
                    Erfahrungsbasiertes Lernen: Lernen Sie im Team anhand von realen Alltagssituationen wirksam digital zusammenzuarbeiten!
                </p>
            </div>
        </div>
    </div>
</section>

<%- include template_footer.ejs %>
