<%- include('partials/template_header.ejs', { loggedIn: true }) %>

<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <!--<img class="masthead-avatar mb-5" src="img/avataaars.svg" alt="">-->

        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0">Bestenlisten</h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fa fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/plattform/bestenliste/benutzer">Benutzer</a></li>
                <li class="breadcrumb-item active">Teams</li>
            </ol>
        </nav>
        <!-- Masthead Subheading -->
        <!--<p class="masthead-subheading font-weight-light mb-0">Angemeldet - Geschützer Bereich - Let´s go</p>-->

    </div>
</header>

<!-- About Section -->
<section class="page-section mb-0">
    <div class="container">

    </div>
</section>

<%- include partials/template_footer.ejs %>
