<%- include template_header.ejs %>

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <!--<img class="masthead-avatar mb-5" src="img/avataaars.svg" alt="">-->

        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0">Benutzer Anmeldung</h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fa fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</header>

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h3>Neu bei uns? <a href="/registrieren">Hier</a> können Sie sich registrieren!</h3>
                <br>
                <form method="POST" action="/anmelden" style="max-width: 800px">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>E-Mail Adresse</label>
                            <input class="form-control" id="email" name="email" type="email" placeholder="E-Mail Adresse" required="required" data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Passwort</label>
                            <input class="form-control" id="password" name="password" type="password" placeholder="Passwort" required="required" data-validation-required-message="Please enter your password.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Anmelden</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<%- include template_footer.ejs %>
