<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/lib/font-awesome/css/font-awesome.css' />
    <link rel='stylesheet' href='/stylesheets/freelancer.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/#page-top">World of Work</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <% if (!loggedIn) { %>
                        <% if (typeof logInPage === 'undefined') { %>
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">Home</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#angebot">Angebot</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#mehrwerte">Mehrwerte</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#prozess">Prozess</a>
                            </li>
                            <% } else { %>
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">
                                        <i class="fa fa-arrow-left"></i>
                                        &nbsp;
                                        <span>Zur Startseite</span>
                                    </a>
                                </li>
                            <% }  %>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded bg-info" href="/anmelden">
                            <i class="fa fa-user"></i>
                            &nbsp;
                            <span>Anmelden</span>
                        </a>
                    </li>
                    <% } else { %>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/plattform/alle-kurse">
                                <i class="fa fa-th-list"></i>
                                &nbsp;
                                <span>Herausforderungen</span>
                            </a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/plattform/bestenliste">
                                <i class="fa fa-star"></i>
                                &nbsp;
                                <span>Bestenlisten</span>
                            </a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/plattform/mein-profil">
                                <i class="fa fa-user"></i>
                                &nbsp;
                                <span>Mein Profil</span>
                            </a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/abmelden">
                                <i class="fa fa-sign-out"></i>
                                &nbsp;
                                <span>Abmelden</span>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
