<!DOCTYPE html>
<html>
<head>
    <title>World of Work | Wir machen euch Fit für virtuelle Teamarbeit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/lib/font-awesome/css/font-awesome.css' />
    <link rel='stylesheet' href='/stylesheets/freelancer.css' />
    <link rel="stylesheet" href="/lib/simplemde/simplemde.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/datetimepicker/jquery.datetimepicker.min.css" >
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/lib/simplemde/simplemde.min.js"></script>
    <script src="/lib/moment/moment-with-locales.js"></script>
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//stats.nikolask.de/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '8']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/#page-top">World of Work</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <% if (!loggedIn) { %>
                        <% if (typeof logInPage === 'undefined') { %>
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">Home</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#angebot">Angebot</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#mehrwerte">Mehrwerte</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#prozess">Prozess</a>
                            </li>
                            <% } else { %>
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">
                                        <i class="fa fa-arrow-left"></i>
                                        &nbsp;
                                        <span>Zur Startseite</span>
                                    </a>
                                </li>
                            <% }  %>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded bg-info" href="/anmelden">
                            <i class="fa fa-user"></i>
                            &nbsp;
                            <span>Anmelden</span>
                        </a>
                    </li>
                    <% } else { %>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/plattform/alle-kurse">
                                <i class="fa fa-th-list"></i>
                                &nbsp;
                                <span>Herausforderungen</span>
                            </a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/plattform/bestenliste">
                                <i class="fa fa-star"></i>
                                &nbsp;
                                <span>Bestenlisten</span>
                            </a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/plattform/mein-profil">
                                <i class="fa fa-user"></i>
                                &nbsp;
                                <span>Mein Profil</span>
                            </a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/abmelden">
                                <i class="fa fa-sign-out"></i>
                                &nbsp;
                                <span>Abmelden</span>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
